
.ug-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ug-div {
    min-width: 180px;
    font-size: 0.3rem;
    margin: 10px;
    padding: 5px;

}

.ug-img {
    height: 50px;

}

.ug-img-down {
    margin-top: 30px;
    height: 50px;
}

.ug-date {
    font-size: 0.1rem;
    font-style: italic;
    min-width: 50px;
}

.ug-occupant {
    font-size: 0.8rem;
    font-weight: bold;
}

.ug-text {
    font-size: 0.4rem;
}

.ug-li{
    z-index: 0;
    font-size: 10pt;
    height: 32px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.ug-permission {
    background-color: beige;
}

.ug-access {
    background-color: #eeeeee;
}

.ug-header {
    border: 1px solid black;
    justify-content: space-between;
    background-color: #bbbbbb;
}

.ug-li h6{
    margin-left: 20px;
}

.ug-user-span {
    width: 80px;
}

.ug-access-span {
    width: 60px;
}

.ug-button {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

.ug-button.delgrave {
    margin-left: 30px;
}

.ug-button-img {
    height: 16px;
    width: 16px;
    display: block;
}

.ug-label{
    margin: 4px 0;
    font-size: 0.8rem;
    font-weight: bold;
}

.ug-label-small{
margin: 4px 0;
font-size: 0.4rem;
}

.ug-above {
    z-index: 2;
    position: absolute;
    border: 1px darkgrey solid;
    border-radius: 3px;
    padding: 2px;
    background-color: #eeeeee;
    font-size: 3pt;
    color: red;

    margin-left: -30px;
}