.r-img {
    margin: 0.8vw;
}

.r-img.normal {
    max-width: 45vw;
}

.r-img.big {
    max-width: 60vw;
}

.r-div {
    background-color: white;
    border: 1px darkgray solid;
    border-radius: 5px;
    padding: 1px 5px 5px;
    margin: 5px;
    text-align: left;
    color: black;
    box-shadow: 4px 2px 2px darkgray;
}

.r-div.normal {
    width: 50vw;
    font-size: 1.5vw;
    min-font-size: 5pt;
}

.r-div.text {
    width: 95%;
    font-size: 2vw;
    min-font-size: 10pt;
    border: 0;
    border-radius: 1px;
    box-shadow: 1px 1px 1px lightgray;
    white-space: pre-wrap;
}

.r-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.r-div.big {
    width: 62vw;
    font-size: 2vw;
    min-font-size: 5pt;
    border-color: black;
    padding: 0;

}

.r-name-date {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    background-color: floralwhite;
    border-radius: 5px;
    padding: 4px;
    color: #222222;
}

.top{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bottom{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.little-letters{
    font-size: 1.8vw;
    min-font-size: 8pt;
}

.img-title{
    font-size: 1.2vw;
    font-style: italic;
    min-font-size: 4pt;
    display: flex;
    justify-content: center;
}

.r-50x50 {
    height: 1vw;
    min-height: 30px;
}

.r-submit {
    height: 1.6vw;
    min-height: 20px;
    min-width: 20px;
    font-size: 1.2vw;
    border: 0;
    background-color: transparent;
}

.r-12x12 {
    height: 1vw;
    min-height: 12px;
}

.r-16x16 {
    height: 1.6vw;
    min-height: 16px;
}

.r-hidden {
    display: none;
}


.r-textarea {
    font-family: Arial, sans-serif;
    width: 96%;
    height: 12vw;
    padding: 5px;
    margin: 5px 5px 20px;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    background-color: aliceblue;
    font-size: 0.7rem;
    word-break: break-word;
    min-height: 50px;
    max-height: 300px;
}

.r-filename{
    margin-left: 16px;
    padding-bottom: 20px;
    height: 2vw;
    vertical-align: middle;
    font-size: 1.8vw;
    font-style: italic;
}

.r-show{
    display: inline-block;
}

.r-noshow{
    display: none;
}

.r-above {
    z-index: 2;
    position: absolute;
    border: 1px darkgrey solid;
    border-radius: 3px;
    padding: 2px;
    background-color: #eeeeee;
    font-size: 3pt;
    color: red;

    margin-left: -30px;
}