
.sg-main {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;

    width: 10vw;
    height: 17vw;
    margin: 1vw;
    padding: 1vw;
    min-width: 120px;
    min-height: 204px;

    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow:  0 0 2px 1px white;

    background-color: #dddddd;

}

.sg-above {
    z-index: 2;
    border: 1px darkgrey solid;
    border-radius: 3px;
    padding: 2px;
    background-color: #eeeeee;
    font-size: 3pt;
    color: red;
}

.sg-stone {
    height: 50px;
}

.sg-picture{
    width: 100%;
}

.sg-pen{
  height: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sg-askwrite {
    background-color: #eeeeee;
    border: 1px black solid;
    border-radius: 2px;
    width: 12px;
    height: 12px;
    padding:2px;
}

.sg-epitaph {
    height: 1.6rem;
    font-size: 0.5rem;
    color: black;
}


