.grave-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.grave-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 30px;
}

.grave-gifts {
    width: 40vw;
    margin: 10px;
    display: flex;
    justify-content: left;
}

.grave-gifts.left {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.grave-gifts.right {
    display: flex;
    flex-direction: row;
    justify-content: left;
}


.grave-gift {
    width: 2vw;
    height: 2vw;
    min-height: 10px;
    min-width: 10px;
}

.grave-gift.add {
    cursor: pointer;
    margin: 4px;
    border: 1px solid darkgray;
    box-shadow: 0 0 2px 1px white;
}

.grave-gift-title {
    min-width: 200px;
    width: 40vw;
}

.gift-error {
    position: absolute;
    z-index: 2;
    font-size: 4px;
    color: black;
    background-color: white;
    padding: 2px;
}

.grave-title {
    text-shadow: 1px 1px darkgrey;
}

.grave-form {
    display: flex;
    flex-direction: column;
    background-color: #aaaaaa;
    padding: 32px;
    max-width: 300px;
    box-shadow: 4px 2px 2px darkgray;
    border-radius: 4px;
    justify-content: center;
}

.grave-label {
    margin: 4px 0;
    font-size: 0.8rem;
    font-weight: bold;
}

.grave-input {
    width: 100%;
    padding: 4px 8px;
    margin: 6px 0;
}

.grave-checkbox {
    margin: 10px;
}

.grave-button {
    border-radius: 4px;
    border: none;
    height: 30px;
    margin-top: 30px;
    padding: 0.1vw 2vw;
    background-color: lightgray;
    color: black;
}
