nav {
    background-color: #cccccc;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;

    max-height: 50px;
    min-height: 30px;
    width: 100vw;
}

nav div{
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: flex-end  ;
}

.nav-small{
    display: block;
    font-size: 0.3rem;
    color: black;
}

.nav-row{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: baseline;
    width: 60px;
}

nav a,
nav a:visited,
nav a:active {
    color: white;
}

nav .loginout{
    height: 20px;
    padding: 2px;
    cursor: pointer;
    border: 3px solid #cccccc;
}

nav .loginout:hover{
    border: 1px solid #cccccc;
}
